div {
  margin: 0 auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  background-color: red;
  text-align: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'KoHo', sans-serif;
  text-align: center;
  font-size: 18px;
}

table, tr, th, td {
  border: 2px solid black;
}

a:link {
  color: gray;
}

a:hover {
  color: red;
}
