h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  background-color: red;
  text-align: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'KoHo', sans-serif;
  text-align: center;
  font-size: 18px;
}

table, tr, th, td {
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}

ul {
  font-family: 'KoHo', sans-serif;
  text-align: center;
  padding-left: 0;
}

.noBullets li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.beginning {
  position: relative;
  top: 200px;
}

#jump {
  font-size: 20px;
}

#tableOfContents {
  background-color: #E8E8E8;
  position: fixed;
  width: 100%;
  margin-top: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: gray;
}

a:hover {
  color: red;
}
